@model FlightPrices.WebApp.ViewModels.Home.HomeSearchViewModel

@{
    ViewData["Title"] = "Home Page";
}

@using (Html.BeginForm(actionName: "Search", controllerName: "Home", 
            method: FormMethod.Post))
{
    <div class="form-group">
        <label for="origin">
            Where From?
        </label>
        <input type="text" 
               class="form-control" 
               id="origin" 
               aria-describedby="origin-help" 
               placeholder="Select Origin"
               value=""
               asp-for="OriginAiport"/>
        <small id="origin-help" 
               class="form-text text-muted">
            This is the aiport you'll depart from.
        </small>
    </div>
    <div class="form-group">
        <label for="destination">
            Where To?
        </label>
        <input type="text" 
               class="form-control" 
               id="destination" 
               aria-describedby="destination-help" 
               placeholder="Select Destination"
               asp-for="DestinationAirport"/>
        <small id="destination-help" 
               class="form-text text-muted">
            This is the aiport you'll arrive at.
        </small>
    </div>
    <div class="form-group">
        <div>
            <label for="departure-date">
                When Do You Want To Leave?
            </label>
        </div>
        <input id="departure-date" 
               type="date"
               asp-for="TakeOffDate"/>
    </div>
    <div class="form-group">
        <div>
            <label for="return-date">
                When Do You Want To Return?
            </label>
        </div>
        <input id="return-date" 
               type="date"
               asp-for="ReturnDate"
               disabled/>
    </div>
    <div class="form-check">
        <input type="checkbox" 
               class="form-check-input" 
               id="round-trip"
               asp-for="IsRoundTrip"/>
        <label class="form-check-label" 
               for="round-trip">
            Round Trip
        </label>
    </div>
    <button type="submit" 
            class="btn btn-primary">
        Submit
    </button>
}

@section Scripts
{
    <script>
        $('#round-trip').click(function () {

            if ($('#round-trip').prop("checked"))
            {
                $("#return-date").prop('disabled', false);
            }
            else
            {
                $("#return-date").prop('disabled', true);
            }
        });
    </script>

    <script>
        $(document).ready(function () 
        {
            let airports = @Html.Raw(Json.Serialize(@Model.Airports));
            let airportNames = airports.map(a => a.airportName);

            $("#origin, #destination").autocomplete(
            {
                source: airportNames
            });
        });




    </script>
}
